body {
    background-image: url(../img/station.jpg);
    background-size: cover;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    height: 100vh;
}

.container {
    background: seashell;
    max-width: 80%;
    margin: auto;
    border: 3px solid black;
    border-radius: 10px;
    width: 350px;
    height: 430px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    font-weight: bold;
    color: white;
    font-size: 18.5px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
}

#increment-btn {
    /* background: darkred; */
    background: #2C2891;
}

#save-btn {
    /* background-color: darkgreen; */
    background: #1C7947;
    margin: 1.5rem;
}

#reload-btn {
    background-color: crimson;
}

#save-el {
    font-weight: bold;
    color: black;
}
